@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Roboto+Mono&display=swap');

html {
    font-size: 16px;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }



/*TITLE PAGE*/
.title {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #6F2232;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-left: 10em;
    padding-right: 10em;
    position: relative;
}

.describe {
    max-width: 20rem;
    background-color: antiquewhite;
}

.title > #scrollButton {
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    bottom: 2rem;
    cursor: pointer;
    animation: scrollAnimation 1s ease-in-out infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title > #scrollButton > span {
    font-size: 3rem;
}

@keyframes scrollAnimation {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-.5em);
    }
    100% {
      transform: translateY(0);
    }
}

.title > h1 {
    font-family: 'Calistoga', cursive;
    font-size: 8rem;
    color: #ffffff;
}

.title > .describe > p {
    font-size: 1rem;
    color: #4e4e50;
    text-align: right;
}




/*FIRST ASSESSMENT PAGE*/
.content {
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1a1a1d;
    color: #ffffff;
}

.content > .questioncard {
    background-color: #c3073f;
    margin: 2em;
    padding: 3em;
    min-width: 25rem;
    max-width: 25rem;
    border-radius: 2em;
    display: grid;
    justify-content: center;
    align-content: center;
    row-gap: 2em;
}

.content > .questioncard > p {
    text-align: center;
}

.content > .questioncard > .choices > input {
    margin-top: 1em;
}

.content > #assess {
    background: linear-gradient(
        45deg,
        rgba(111, 34, 50, 1) 0%,
        rgba(149, 7, 64, 1) 40%,
        rgba(195, 7, 63, 1) 100%
    );;
    font-family: 'Calistoga', cursive;
    font-size: 1.5rem;
    color: #ffffff;
    padding: .5em;
    border-radius: .5em;
    border: none;
    min-width: 10rem;
    cursor: pointer;
    transition: .8s;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.content > #assess:hover {
    background: antiquewhite;
    color: #4e4e50;
}






/*FINAL ASSESSMENT*/
.content > .final {
    margin-top: 2em;
}

.content > .tracktitle {
    font-size: 10rem;
    text-align: center;
}

.data {
    display: grid;
    min-width: 100vw;
    background: linear-gradient(
        45deg,
        rgba(111, 34, 50, 1) 0%,
        rgba(149, 7, 64, 1) 40%,
        rgba(107, 24, 18, 1) 80%,
        rgba(195, 7, 63, 1) 100%
    );;
    background-size: 600% 600%;
    animation: gradientAnimation 10s ease infinite;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    justify-items: center;
    justify-content: space-around;
    padding: 5em;
}

@keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.data > .schoolcard {
    background-color: #c3073f;
    color: #ffffff;
    max-height: 20rem;
    min-height: 20rem;
    max-width: 20rem;
    min-width: 20rem;
    border-radius: 2em;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .3s;
    cursor: pointer;
}

.data > .schoolcard:hover {
    transform: translateY(-.5em);
    background-color: #4e4e50;
}

.data > .schoolcard > .schoolname {
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    font-family: 'Calistoga', cursive;
    color: #4e4e50;
}

.data > .schoolcard > .schooladdr {
    margin-top: 1em;
    text-align: center;
}

.data > .schoolcard > .schoolid {
    text-align: center;
}









/*MEDIA QUERY*/
@media only screen and (max-width: 600px) {
    /* Mobile-specific styles here */
  
    .title {
      padding-left: 2em;
      padding-right: 2em;
    }
  
    .title > h1 {
      font-size: 4rem;
      text-align: center;
      margin-bottom: -5em;
    }

    .content > .tracktitle {
        font-size: 4rem;
    }
  
    .describe {
      max-width: 100%;
      margin-bottom: 1em;
    }

    .title > .describe > p {
        text-align: center;
    }
  
    .content > .questioncard {
      min-width: 80%;
      max-width: 80%;
    }
  
    .content > #assess {
      min-width: 80%;
    }
  }